/* App.css */
.app-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #E0F7FA;
  font-family: 'Arial', sans-serif;
  /* min-height: 100vh; */

}

.app-container h1 {
  text-align: center;
  color: #bb144b;
  margin-bottom: 30px;
  font-size: 2.5rem;
}

.layout-container {
  display: flex;
  gap: 50px;
  margin-top: 30px;
}

.form-container {
  flex: 1;
  min-width: 300px;
}

.table-container {
  flex: 2;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.expense-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 8px;
  background-color: #B2EBF2; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  margin-bottom: 20px;
}

.expense-form input,
.search-bar {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.expense-form button {
  padding: 8px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.expense-form button:hover {
  background-color: #c54119;
}

.search-bar {
  margin-bottom: 10px;
  padding: 10px;
    border: 1px solid #4DB6AC; 
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    background-color: #FFFFFF; 
    transition: border-color 0.3s ease;
}

.expense-form input:focus,
  .search-bar:focus {
    border-color: #00695C; 
    outline: none;
    box-shadow: 0 0 5px rgba(0, 137, 123, 0.3); 
}

.expense-table {
  width: 100%;
  border-collapse: collapse;
}

.expense-table th,
.expense-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.expense-table th {
  background-color: #f5f5f5;
  cursor: pointer;
}

.expense-table th:hover {
  background-color: #e0e0e0;
}

.expense-table button {
  padding: 5px 10px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.expense-table button:hover {
  background-color: #c82333;
}